<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
	<% include blocks/header.ejs %>
	<h1>Привет, мир!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate maxime quis architecto error eaque dolor est doloremque id. Deserunt libero aliquid a veniam. Ipsa eaque, perferendis quae officia debitis error!</p>
</body>
</html>